[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
[submodule "VDV301DataStructures"]
	path = VDV301DataStructures
	url = https://github.com/frutabruta/VDV301DataStructures
